	<div id="collection" class="row">
	<div class="col-xs-12">
	  <h1><span>Product Collections</span></h1>
	</div> <!-- /.col-xs-12 -->
	</div> <!-- /.row -->

	<div class="row products masonry">
	{% for collection in collections %}
	{% unless collection.all_products_count == 0 or collection.handle == "frontpage" %}
	{% include 'collection-loop' %}
	{% endunless %}
	{% endfor %}
	</div> <!-- /#collection.row -->